{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    安徽休宁大地村镇银行-关于我们
{% endblock title %}
{% block content %}
    <div class="m-abt-ct container-fluid px-0">
        <div class="m-jmb text-white" style="background: url({% static "web/img/about/bg-mt.jpg" %}">
            <div class="ct container row">
                <h1 class="display-5 col-sm-12">安徽休宁大地村镇银行</h1>
                <hr class="my-3">
                <p class="lead col-sm-12">
                    安徽休宁大地村镇银行（下称我行）2011年4月18日正式挂牌开业，是经中国银行业委员会安徽银监局依据有关法律、法规批准，绩溪农村商业银行发起成立，是黄山市第二家，休宁县第一家成立的村镇银行，注册资本为5218万元，其中主发起行安徽绩溪农村合作银行入股1854万元，占股本总额的35.53%，其他14位自然人股东入股3364万元，占股本总额的64.47%。</p>
                <p class="lead col-sm-12">目前我行共设立四个网点，包括总行营业部、状元支行、五城支行、溪口支行，全行在岗员工35人。</p>
                <p class="lead col-sm-12">我行通过接入中国人民银行现代化支付结算系统和安徽省农村信用社联合社综合业务网络系统，为休宁居民提供较为现代化的金融服务。</p>
            </div>
        </div>
        <div class="m-clt container-fluid my-5">
            <div class="container">
                <h2 class="text-center mb-4">企业文化</h2>
                <p class="lead text-center mb-0 ">我们希望通过科学的管理、稳健的经营以及优质的服务</p>
                <p class="lead text-center mb-5">以全新的形象为农民、农业和农村经济提供更便利、更充分、更有效的金融服务</p>
                <div class="row">
                    <div class="media col-sm-12 col-md-6 mb-5">
                        <img class="mr-3" src="{% static 'web/img/about/icon-wish.png' %}">
                        <div class="media-body align-self-center">
                            <h4>经营理念</h4>
                            <p class="lead">依法合规、成本可算、风险可控、利润可获</p>
                        </div>
                    </div>
                    <div class="media col-sm-12 col-md-6 mb-5">
                        <img class="mr-3" src="{% static 'web/img/about/icon-group.png' %}">
                        <div class="media-body align-self-center">
                            <h4>团队理念</h4>
                            <p class="lead">互信互爱，携手并进</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="media col-sm-12 col-md-6 mb-5">
                        <img class="mr-3" src="{% static 'web/img/about/icon-service.png' %}">
                        <div class="media-body align-self-center">
                            <h4>服务理念</h4>
                            <p class="lead">一切为了客户，为了客户一切</p>
                        </div>
                    </div>
                    <div class="media col-sm-12 col-md-6 mb-5">
                        <img class="mr-3" src="{% static 'web/img/about/icon-business.png' %}">
                        <div class="media-body align-self-center">
                            <h4>企业愿景</h4>
                            <p class="lead">惠丰大地，融联万家</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="media col-sm-12 col-md-6 mb-5">
                        <img class="mr-3" src="{% static 'web/img/about/icon-manager.png' %}">
                        <div class="media-body align-self-center">
                            <h4>人才理念</h4>
                            <p class="lead">尊贤尚德，人尽其才</p>
                        </div>
                    </div>
                    <div class="media col-sm-12 col-md-6 mb-5">
                        <img class="mr-3" src="{% static 'web/img/about/icon-location.png' %}">
                        <div class="media-body align-self-center">
                            <h4>市场定位</h4>
                            <p class="lead">服务三农，服务中小企业，服务社区，服务县域经济</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="m-pro container-fluid my-0 py-0 text-white">
            <h2 class="mb-3">发展历程</h2>
            <div class="timeline-container">
                <div class="timeline-content">
                    <div class="timeline-wrap">
                        <div class="timeline-bd bd-1" data-year="2011">
                            4月我行正式挂牌开业
                        </div>
                        <div class="timeline-bd bd-2" data-year="2013">
                            12月状元支行正式开业
                        </div>
                        <div class="timeline-bd bd-3" data-year="2015">
                            6月五城支行正式开业
                        </div>
                        <div class="timeline-bd bd-4" data-year="2016">
                            1月溪口支行正式开业
                        </div>
                    </div>
                </div>
                <div class="timeline-axis">
                    <div class="axis-wrap"></div>
                </div>
            </div>
        </div>
        <div class="m-fld container-fluid mb-5">
            <h2 class="my-5">经营范围</h2>
            <ul class="list-unstyled mb-5">
                <li class="lead"><i class="fa fa-check text-success mr-2"></i>吸收公众存款，发放短、中、长期贷款</li>
                <li class="lead"><i class="fa fa-check text-success mr-2"></i>办理国内结算，办理票据承兑与贴现</li>
                <li class="lead"><i class="fa fa-check text-success mr-2"></i>从事同业拆借、银行卡业务</li>
                <li class="lead"><i class="fa fa-check text-success mr-2"></i>代理发行、兑付、承销政府债券</li>
                <li class="lead"><i class="fa fa-check text-success mr-2"></i>银行业监督管理机构批准或政策许可的其他业务</li>
            </ul>
        </div>
        <div class="m-hnr container-fluid py-5">
            <h2 class="text-center mb-5">所获荣誉</h2>
            <div class="swiper-container container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide container px-0">
                        <img src="{% static 'web/img/about/timg.jpg' %}">
                        <img src="{% static 'web/img/about/timg.jpg' %}">
                        <img src="{% static 'web/img/about/timg.jpg' %}">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block script %}
    <script>
        var mySwiper = new Swiper('.swiper-container', {
            direction: 'horizontal',
            loop: true,
            autoplay: {
                delay: 3000,
                disableOnInteraction: false
            }
        });
        var wp = $('.timeline-wrap');
        var bds = $('.timeline-bd');
        var axis = $('.axis-wrap');
        var years = [];
        bds.each(function () {
            $(this).css('left', ($(this).index() * 100) + '%');
            years.push($(this).attr('data-year'));
        });
        $.each(years, function (index, data) {
            if (index === years.length - 1) {
                content = "<a class='active'>" + data + "</a>"
            }
            else {
                content = "<a>" + data + "</a>"
            }
            axis.append(content);
        });
        wp.css('left', (bds.length - 1) * (-100) + '%');
        axis.css('left', axis.width() * -.57 + 'px');
        axis.find('a').each(function () {
            $(this).click(function () {
                $(this).addClass('active');
                $(this).siblings().removeClass('active');
                wp.css('left', $(this).index() * (-100) + '%');
                axis.css('left', $(this).index() * (-1) * axis.width() / (axis.children().length + 1) + 'px');
            })
        });
        $(document).ready(function () {
            $('.timeline-container').css('opacity', '1');
        });
    </script>
{% endblock script %}
